* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #ffffff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: rgb(248, 248, 250);
    background-image: linear-gradient( to right, #ff9901 0%, #02ffff 8%, #101111 21%, #09ffff 52%, rgb(156, 154, 2) 78%, #01ffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-inline-policy: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
}

.fa-gem {
    margin-right: .5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #030303;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #898a8a67;
    color: #02ff0f;
}

.button:hover {
    background: #f9f9fc;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #73ff00;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: hsla(0, 0%, 0%, 0.185);
    }
    .navbar__menu.active {
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ff0095;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn {
        padding-bottom: .5rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 80px;
        margin: 0;
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
/* Hero Section CSS */

.main {
    background-color: hsl(236, 44%, 13%);
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #ffffff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #2600ff 10%, #090907 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #040705 15%, #e1e1ed8f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #14006b 25%, #00b7ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #ffffff 0%, rgb(0, 6, 91)100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #050505;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: hsla(0, 0%, 100%, 0.562);
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #ffffff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 70%;
    width: 70%;
}
/*Mobile Responsive */

@media screen and (max-width:768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
    .main__content h2 {
        font-size: 3rem;
    }
    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    .main__content h2 {
        font-size: 2rem;
    }
    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}
/*Serevices Section CSS */

.services {
    background: #fdfdff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.services h1 {
    background-color: #00b7ff;
    background-image: linear-gradient( to right, #ff9901 0%, #02ffff 0%, #101111 21%, #09ffff 52%, rgb(156, 154, 2) 78%, #01ffff 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 525px;
    border-radius: 4px;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/images/images\ \(2\).png');
    background-size: cover;
    position: relative;
    color: #ffffff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/Images/facebook-brands-solid.svg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
    color: #fdfdfd
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    font-size: 1rem;
    background-image: linear-gradient(to top, #000000 20%, rgb(142, 142, 143)80%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.services__card button {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}

.services__card button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: transparent;
    transition: all 0.35s;
    border-radius: 4px;
}

.services__card button:hover {
    color: #48ff00;
}

.services__card button:hover:after {
    width: 100%;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }
    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }
    .services__card h1 {
        font-size: 1.2rem;
    }
    .services__card {
        width: 300px;
    }
}
/* Footer CSS */

.footer__container {
    background-color: rgb(255, 255, 255);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #0c007c;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items>h2 {
    color: #0c007c;
}

.footer__link--items a {
    color: #6e6e6e;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #73ff00;
    transition: 0.3s ease-out;
}
/*Social Icons*/

.social__icons--link {
    color: #474747;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__icons--link:hover {
    color: #02ff0f;
    transition: 0.3s ease-out;
}

.website__rights {
    background-color: #ffffff;
    background-image: linear-gradient( to right, #ff01ff 5%, #02ffff 7%, #101111 21%, #09ffff 52%, rgb(156, 154, 2) 78%, #01ffff 100%);
    background-size: 100%;
    font-size: 1.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-left: 24px;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }
    #footer__logo {
        margin-bottom: 2rem;
    }
    .website__rights {
        margin-bottom: 2rem;
    }
    .footer__link--wrapper {
        flex-direction: column;
    }
    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
